<div class="tr heading">
	My Cohorts
</div>
<% @cohorts.each do |cohort| %>
	<div class="cohort-block">
		<%= link_to "#{cohort.name}", cohort_students_path(cohort.id) %>
	</div>
<% end %>

<script type="text/javascript">
    $(".all-cohorts").addClass('ghosted');
</script>