<div class="tr heading">
	My Cohorts
</div>
<table>
	<% @cohorts.each do |cohort| %>
		<tr>
			<td>
				<%= link_to "#{cohort.name}", cohort_students_path(cohort.id) %>
			</td>
		</tr>
	<% end %>
</table>