<!-- this is the producer's view of all of his/her cohorts -->
Welcome <%= @current_user.name %>
<table>
	<% @cohorts.each do |cohort| %>
		<tr>
			<td>
				<%= link_to "#{cohort.name}", cohort_students_path(cohort.id) %>
			</td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
    $(".all-cohorts").addClass('ghosted');
</script>