@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	line-height: 1;
	color: rgb(34,34,34);
	cursor: default;
	/*background: #effffa;*/
}

.header {
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	top: 0;
	text-align: center;
	font-size: 44px;
	background: rgb(25,180,170);
	background: #eee;
	color: rgb(250,210,55);
	color: rgb(25,180,170);
	color: white;
	color: #333;

}

.header p {
	/*font-family: Impact;*/
	display: inline-block;
	line-height: 0.8;
	vertical-align: bottom;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 30px;
	background: #333;
}

.container {
	margin-top: 70px;
	display: flex;
	height: 88vh;
}

.nav {
	width: 20%;
	margin: 60px;
	margin-right: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 60px;
	margin-left: 20px;
	width: 70%;
	overflow: hidden;
}

.table {
	flex-shrink: 2;
	overflow: auto;
}

.tr {
	display: flex;
	width: 100%;
}

.td {
	flex-grow: 2;
	display: inline-block;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border: solid 0.5px #aaa;*/
	/*border-radius: 6px;*/
	background: #f0fff3;
	margin-top: 3px;
	margin-bottom: 3px;
	margin: 3px;

	background: rgb(250,210,55);
	font-family: Georgia;	
}

.table-head {
	height: 54px;
}

.table-head .td {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-family: 'Open Sans';
}

.name {
	width: 30%;
}

.td.date {
	width: 15%;
}

.check {
	width: 10%;
}

.even .td {
	background: #e5f2ea;

	background: rgb(255,255,240);
	background: #fff;		
}

.odd .td {
	background: rgb(250,240,210);
}

.flagged .td {
	background: rgb(250,100,100);
	color: white;
}
.flagged .td * {
	color: white;
}

.f2 {

}

.td a:hover {
	background: rgb(250,210,55);
	/*border: solid 1px rgb(250,230,40);*/
/*	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: -2px;*/
}
.td a:hover * {
	color: white;
}

