@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	line-height: 1;
	cursor: default;
	/*background: #effffa;*/
}

button, a {
	cursor: pointer;
}

a {
	color: #333;
}

body {
	background: #f4f4f4;
}

.header {
	font-family: 'Cabin Sketch', 'Open Sans', Impact;
	position: fixed;
	width: 100%;
	height: 90px;
	/*line-height: 110px;*/
	top: 0;
	text-align: center;
	font-size: 54px;
/*	background: rgb(25,180,170);
	background: #eee;
	color: rgb(25,180,170);
	color: white;
	background: #266;
	background: rgb(250,210,55);*/
	color: #256;
}

.header p {
	/*font-family: Impact;*/
	display: inline-block;
	line-height: 0.3;
	vertical-align: bottom;
}

.tagline {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 26px;
	height: 10px;
	font-size: 13px;
	font-family: Helvetica Neue;
	color: #3bb;
	/*background: #ddd;	*/
	/*border-top: solid 1px rgb(235,185,50);*/
	border-bottom: solid 1px rgb(235,185,50);
}

.footer {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 30px;
	background: #333;
}

.line-vector {
	width: 1px;
	background: rgb(235,185,50);
	margin-top: 46px;
	margin-bottom: 46px;
}

.container {
	margin-top: 70px;
	display: flex;
	height: 91vh;
}

.nav {
	width: 20%;
	margin: 60px;
	margin-right: 20px;
	/*background: white;*/
}

.nav button {
	border-radius: 4px;
	width: 90%;
	margin: 5%;
	margin-bottom: 0;
	background: #44bad1;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
	font-size: 20px;
	font-family: Helvetica Neue;
	font-weight: 300;
}
.nav button:hover {
	background: #cdd;
	color: #4bc;
}


.content {
	border-radius: 4px;
	background: white;
	display: flex;
	flex-direction: column;
	margin: 60px;
	margin-left: 20px;
	width: 70%;
	overflow: hidden;
}

.table {
	margin: 5px;
	overflow: auto;
}

.tr {
	display: flex;
	width: 100%;
}

.td {
	flex-grow: 2;
	display: inline-block;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border: solid 0.5px #aaa;*/
	border-radius: 3px;
	background: #f0fff3;
	margin-top: 3px;
	margin-bottom: 3px;
	margin: 3px;

	background: rgb(250,210,55);
	font-family: courier;	
}

.table-head {
	margin: 5px;
	height: 54px;
}

.table-head .td {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-weight: 600;
	/*font-family: 'Open Sans';*/
}

.name {
	width: 30%;
}

.td.date {
	width: 15%;
}

.check {
	width: 10%;
}

.even .td {
	background: #e5f2ea;

	background: rgb(255,255,240);
	background: #fff;		
}

.odd .td {
	background: rgb(250,240,210);
}

.flagged .td {
	background: rgb(250,100,100);
	color: white;
}
.flagged .td * {
	color: white;
}

.f2 {

}

.td a:hover {
	background: rgb(250,210,55);
	/*border: solid 1px rgb(250,230,40);*/
/*	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: -2px;*/
}
.td a:hover * {
	color: white;
}

