@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	color: rgb(34,34,34);
	cursor: default;
	/*background: #effffa;*/
}

.header {
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	top: 0;
	text-align: center;
	font-size: 34px;
	background: rgb(25,180,170);
	background: #eee;
	color: rgb(250,210,55);
	color: rgb(25,180,170);
	color: white;
	color: #333;

	font-family: Impact;
}

.container {
	margin-top: 70px;
	display: flex;
	height: 80vh;
}

.nav {
	width: 20%;
	height: 100%;
	margin: 30px;
}

.content {
	margin: 30px;
	width: 70%;
}

.table {
	height: 70vh;
	overflow: auto;
}

.tr {
	width: 100%;
}

.td {
	display: inline-block;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border: solid 0.5px #aaa;*/
	/*border-radius: 6px;*/
	background: #f0fff3;
	margin-top: 3px;
	margin-bottom: 3px;

	background: rgb(250,210,55);	
}

.table-head .td {
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.name {
	width: 30%;
}

.td.date {
	width: 15%;
}

.check {
	width: 10%;
}

.even .td {
	background: #e5f2ea;

	background: rgb(250,230,150);
	background: #fff;		
}

.odd .td {
	background: rgb(250,245,220);
}

.td:hover {
	background: rgb(250,210,55);
	/*border: solid 1px rgb(250,230,40);*/
/*	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: -2px;*/
}

.td:hover * {
	color: white;
}

