@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	line-height: 1;
	cursor: default;
	/*background: #effffa;*/
}

button, a {
	cursor: pointer;
}

a {
	color: #333;
}

body {
	background: #f4f4f4;
}

.header {
	font-family: 'Cabin Sketch', 'Open Sans', Impact;
	position: fixed;
	width: 100%;
	height: 90px;
	/*line-height: 110px;*/
	top: 0;
	text-align: center;
	font-size: 54px;
/*	background: rgb(25,180,170);
	background: #eee;
	color: rgb(25,180,170);
	color: white;
	background: #266;
	background: rgb(250,210,55);*/
	color: #256;
}

.header p {
	/*font-family: Impact;*/
	display: inline-block;
	line-height: 0.3;
	vertical-align: bottom;
}

.tagline {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 26px;
	height: 10px;
	font-size: 13px;
	font-family: Helvetica Neue;
	color: #3bb;
	/*background: #ddd;	*/
	/*border-top: solid 1px rgb(235,185,50);*/
	border-bottom: solid 1px rgb(235,185,50);
}

.footer {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 30px;
	background: #333;
}

.line-vector {
	width: 1px;
	background: rgb(235,185,50);
	margin-top: 46px;
	margin-bottom: 46px;
}

.container {
	margin-top: 70px;
	display: flex;
	height: 91vh;
}

.nav {
	width: 20%;
	margin: 60px;
	margin-right: 20px;
	/*background: white;*/
}

.nav button {
	border-radius: 4px;
	width: 90%;
	margin: 5%;
	margin-bottom: 0;
	background: #44bad1;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
	font-size: 20px;
	font-family: Helvetica Neue;
	font-weight: 300;
}
.nav button:hover {
	background: #cdd;
	color: #4bc;
}


.content {
	border-radius: 4px;
	background: white;
	display: flex;
	flex-direction: column;
	margin: 60px;
	margin-left: 20px;
	width: 70%;
	overflow: hidden;
}

.table {
	margin: 5px;
	overflow: auto;
}

.tr {
	display: flex;
	width: 100%;
}

.td {
	flex-grow: 2;
	display: inline-block;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border: solid 0.5px #aaa;*/
	border-radius: 3px;
	background: #f0fff3;
	margin-top: 3px;
	margin-bottom: 3px;
	margin: 3px;

	background: rgb(250,210,55);
	font-family: courier;	
}

.table-head {
	margin: 5px;
	height: 54px;
}

.table-head .td {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-weight: 600;
	/*font-family: 'Open Sans';*/
}

.name {
	width: 30%;
}

.td.date {
	width: 15%;
}

.check {
	width: 10%;
}

.even .td {
	background: #e5f2ea;

	background: rgb(255,255,240);
	background: #fff;		
}

.odd .td {
	background: rgb(250,240,210);
}

.flagged .td {
	background: rgb(250,100,100);
	color: white;
}
.flagged .td * {
	color: white;
}

.f2 {

}

.td a:hover {
	background: rgb(250,210,55);
	/*border: solid 1px rgb(250,230,40);*/
/*	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: -2px;*/
}
.td a:hover * {
	color: white;
}


 
/*---LOGIN PAGE--------------*/


.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 0 auto;
 	width: 400px;
 	margin-top: 20px;
}

.logo {
	font-family: 'Cabin Sketch';
	font-size: 200px;
	text-align: center;
}
.logo-helper {
	font-size: 30px;
	text-align: center;
}
input[type="password"], input[type="email"] {
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
 	padding-left: 37px;
 	margin-left: 80px;
 	margin-top:30px;
  transition: box-shadow 0.3s;
  width: 240px;
}
input[type="password"]:focus, input[type="email"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}
.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
}

.login input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin-left: 80px;
 	margin-top:30px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
	opacity: 0.2;
  width: 370px;
  margin: 0 auto;
  margin-top: 30px;
}


.login input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}
.nav-top {
	top:0;
	width: 100%;
	background: #b2b2b2;
}

.nav-top img {
	height: 50px;
	margin-left: 45%;
}
footer {
  background-color: #b2b2b2;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 50px;
}