<div class="attendance">
	<%= link_to attendance %>
		<%= attendance.name %>
		<%= attendance.date %>
		<%= attendance.absent %>
	<% end %>
</div>
 <!-- This is incomplete, basically a placeholder until db is finished. This is the template for the attendance, which will be served to the rest of the views as partials via render. -->

 <!-- Not using @ because its similar to global var and is considered bad practice, someone who knows this better can change the code above. -->