<div class="attendance">
	<%= link_to attendance do %>
		<%= placeholder.placeholder %>
		<%= placeholder.placeholder %>
		<%= placeholder.placeholder %>
	<% end %>
</div>
 <!-- this is the template for the attendance, which will be served to the rest of the views as partials via render. -->