
<%#= render :partial "attendance", locals: {attendances: @attendances} %>

<%#= render :partial "attendance", collection: @attendances %>

<%#= render @attendances %>

<!-- attendance list -->


<h1>Cohort <%= @cohort %>Attendance for <%= @today.date %></h1>

<%= render 'attendances/editday' %>

