<% if @current_user.student? && @current_user.flagged? %>
  <%= render "students/emailform"%>
<% else %>
  <%= render "students/rostertotals" %>

<% end %>

<script>

$(function(){
  $('#date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
})

</script>

<div class="tr heading">
  Cohort: <%= @cohort.name %> | Class Roster
</div>

<% if @current_user.producer? %>

  <script type="text/javascript">
      $(".cohort-view").hide();
  </script>

<% elsif @current_user.instructor? %>

  <script type="text/javascript">
      $(".cohort-view").addClass('ghosted');
  </script>
 
<% end %>

