<div class="tr heading">
  Cohort: <%= @cohort.name %> | Class Roster
</div>

<%= render "students/rostertotals" %>

<script>

$(function(){
  $('#date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
})

</script>

<% if @current_user.producer? %>

  <script type="text/javascript">
      $(".cohort-view").hide();
  </script>

<% elsif @current_user.instructor? %>

  <script type="text/javascript">
      $(".cohort-view").addClass('ghosted');
  </script>
 
<% end %>

<!-- <div>
<<<<<<< HEAD
  <%#= form_tag "/email/", method: 'POST' do %>
    <%#= text_area_tag :message, nil , size: "24x6" %>
  <%# end %>
=======
  <%= form_tag "/email/", method: 'POST' do %>
    <%= text_area_tag :message, nil , size: "24x6" %>
  <% end %>
>>>>>>> d2d9168cd5c43760689d6064dbf0792fbef89b51
</div> -->