<div class="tr heading">
  Student: <%= @student.name %>
</div>

<!-- MAIN CONTENT -->
<%= render "/students/studenttotals" %>
<br>
<% if @attendances != [] %>
	<%= render "/students/studenthistory" %>
<% else %>
	<p><%= @student.name %> has been present for all class days<p> 
<% end %>


<script type="text/javascript">
    $(".student-history").addClass('ghosted');
</script>
