<div class="tr heading">
  Student: <%= @student.name %>
</div>

<!-- MAIN CONTENT -->
<%= render "/students/studenttotals" %>
<% if @attendances != [] %>
	<%= render "/students/studenthistory" %>
<% else %>
	<div class="student-message"><p>Student has been present for all class days</p></div>
<% end %>


<script type="text/javascript">
    $(".student-history").addClass('ghosted');
</script>
