<div class="aside">
	<%= render "buttons/student_history" %>
	<%= render "buttons/student_totals" %>
	<%= render "buttons/cohort_view" %>

	<div class="aside-footer">
		<%= render "buttons/edit_profile" %>
		<%#= render "buttons/logout" %>
	</div>
</div>