<div class="pro-pic">
	<%= image_tag gravatar_url(@user.email, '200x200'), id: 'gravatar' %>
</div>

<script>
	var url ="http://gravatar.com/avatar/c8bf64c4eb8cab95087586b1206f12e9.png?s=200x200"

	if($('#gravatar').attr('src') === url){
		url = "http://api.thumbr.io/5f70c3c8d1b416a7bf0e5ef7aa6faddf/td01lCLK6KuyQknexL6E/static.funnypik.com/thumb/1363/1362273.jpg/200x200t/captions-making-funny-photos-hilarious-picture-3.jpg"
			$('#gravatar').attr('src', url)
	}
	
</script>