<div class="tr heading">
	All Users
</div>
<div class="table">
<% @users.each do |user| %>
	<div class="cohort">
		<%= link_to "#{user.name} | #{user.type}", user_path(user) %>
	</div>
<% end %>
</div>
