
Welcome <%= @current_user.type %> with name <%= @current_user.name %>

<%#= render "attendances/show" %>
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  <%#= form_for [:date, params[:date]] %>
  <p>Date: <input type="text" id="datepicker" name="date"></p>


<% if @current_user.producer? %>
	<%= render "navs/producer/producers" %>
	<script type="text/javascript">
   // $(this).ready(function(){
   		$("#all-cohorts").hide();
   		$(".cohort-view").hide();
   // });
	</script>

<% elsif @current_user.instructor? %>
		<%= render "navs/instructor/instructor_layout" %>
	<script type="text/javascript">
   // $(this).on('click', ".cohort-view", function(){
   		$(".cohort-view").hide();
   // });
	</script>

 
<% end %>

