<div class="aside">
	<%= render "buttons/today" %>
	<%= render "buttons/cohort_view" %>
	<%= render "buttons/troubled_students" %>
	<div class="aside-footer">
		<%= render "buttons/edit_profile" %>
		<%#= render "buttons/logout" %>
	</div>
</div>