<!-- this is the producer's view of all of his/her cohorts -->
Welcome <%= @current_user.name %>
<table>
	<% @current_user.cohorts.each do |cohort| %>

		<tr><td><a href="/cohort/<%= cohort.id %>"><%= cohort.name %></a></td></tr>
	<% end %>
</table>